# Environmental variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Docker
docker-compose.override.yml

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Redis data
redis_data/